{% extends "layout/base.html" %}

{% block head %}
  <style>
    body {
      overflow-y: auto;
    }
    #top {
      margin-top: 60px;
    }
  </style>
{% endblock %}

{% block content %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div id="top" class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Welcome to <span class="text-muted">Sunny Side Up</span>
        </h2>
        <p class="lead">
          Wouldn't it be nice if someone could see how much money solar power could save them
          using just their address? <strong>I thought so too...</strong>
        </p>
        <p class="lead">
          <form role="form" method="post" action='/solar'>
          <div class="form-group">
            <label for="address">Enter an Address:</label>
            <input type="text" class="form-control" name="address" placeholder="Street, City, State" autofocus>
            <label for="age">Years you plan to stay:</label>
            <input type="number" class="form-control" name="age" placeholder="Years" min = "0", max = "30">
          </div>
          <button type="submit" class="btn btn-info btn-lg btn-block">Submit</button>
          </form>
        </p>
      </div>
      <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail center-block" src="{{ url_for('static', filename='images/640px-BAPV_solar-facade.JPG') }}"
          style="margin: 0 auto;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" width="75%"
             src="{{ url_for('static', filename='images/sun.jpg') }}" alt="Sun logo">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Promoting Sustainable Energy
        </h2>
        <p class="lead">
          On average, the sun provides us with 84 Terrawatts of power! For a typical rooftop (i.e., 1100 square feet), that amounts to <strong>180 kWh/day</strong>.  So why don't more people take advantage of solar power?
          Let's lower the barrier to entry using Google Maps!
        </p>
      </div>
    </div>

    <hr class="featurette-divider" style="margin-bottom: 0px;">

    <!-- /END THE FEATURETTES -->

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#top">Back to top</a></p>
      <p>&copy; Jason A. French</p>
    </footer>

  </div><!-- /.container -->
{% endblock %}
