{% extends "layout/base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/solarized.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/components-revealjs/css/reveal.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="reveal">
    <div class="slides">
        <section>
            <h2>Sunny Side Up</h2>
            <h4>Estimating Sustainable Savings using Rooftops</h4>
            <p>
            Created by <a href="/author">Jason A. French</a> / <a href="https://github.com/frenchja">github.com/frenchja</a>
            </p>
        </section>

        <section>
            <h2>Lower the Barrier to Entry</h2>
            <ul>
                <li>Estimating solar energy output and savings requires detailed personal information.</li>
                <li>Solar radiance, utility rates, electric usage, solar penetration spread across multiple databases.</li>
            </ul>
            <img src="{{ url_for('static', filename='images/roofDiagram.jpg')}}" style="width=200px;">

            <aside class="notes">
                Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
            </aside>
        </section>

        <!-- Example of nested vertical slides -->

        <!-- <section>
            <h2>So Many Considerations...</h2>
            <ul>
                <li>Type of roof and square footage</li>
                <li>Proximity to trees</li>
                <li>Utility rate for address</li>
                <li>Average power consumption for address</li>
                <li>Recommended systems based on needs</li>
                <li>Solar Radiance / location</li>
                <li>Estimated cost</li>
            </ul>
        </section> -->

        <section>
            <h2>Image Analysis</h2>
            <ul>
                <li>Canny edge detection on roof</li>
                <li>Circular Hough Transforms for trees</li>
            </ul>
            <img style="margin-left:auto;margin-right:auto;width=480px;" src="{{ url_for('static', filename='images/plot.png') }}">
        </section>

        <section>
            <h3>Linear Regression Using...</h3>
            <ol>
                <li>US Energy Information Administration</li>
                <li>OpenEI Utility Companies and Rates by Zip</li>
                <li>National Renewable Energy Lab</li>
                <li>Open PV Project</li>
                <li>Google Maps API</li>
            </ol>
        </section>
        <section>
            <h2>Validation</h2>
            <ul>
            <li>Can I approximate real square footage?</li>
            <li>70% accuracy.  My tracing over-estimates sq. footage.</li>
            <li>Still much better than using US mean home size. This would assume a normal distribution of
            home size, despite SES.</li>
        </ul>
        </section>
        <section>
            <h2>Validation</h2>
            <p>Is using zip code to predict solar <strong>costs</strong> reasonable? <em>Sort of...</em>
            </p>
            <TABLE border=1>
<TR> <TH>  </TH> <TH> Df </TH> <TH> Sum Sq </TH> <TH> Mean Sq </TH> <TH> F value </TH> <TH> Pr(&gt;F) </TH>  </TR>
  <TR> <TD> Zipcode              </TD> <TD align="right"> 1 </TD> <TD align="right"> 9.59e+11 </TD> <TD align="right"> 9.59e+11 </TD> <TD align="right"> 65.40 </TD> <TD align="right"> 0.001 </TD> </TR>
  <TR> <TD> Size (kW)         </TD> <TD align="right"> 1 </TD> <TD align="right"> 3.94e+16 </TD> <TD align="right"> 3.94e+16 </TD> <TD align="right"> 2688895.76 </TD> <TD align="right"> 0.001 </TD> </TR>
  <TR> <TD> Residuals            </TD> <TD align="right"> 306373 </TD> <TD align="right"> 4.49e+15 </TD> <TD align="right"> 1.468e+10 </TD> <TD align="right">  </TD> <TD align="right">  </TD> </TR>
   </TABLE>
        </section>



            <section>
                <h3 class="text-center">Jason A. French</h3>
                <p>
        My background is in individual differences and psychometrics.</p>
                <div class="row">
      <div class="col-md-6">
    <img width="50%" class="img-responsive img-circle center-block" src="{{ url_for('static', filename='images/jason.jpg') }}">
    </div>
    <div class="col-md-6">
    <img width="50%" class="img-responsive center-block" src="{{ url_for('static', filename='images/NU_Logo_black.gif') }}">
    </div>
    <img width="50%" class="img-responsive center-block" src="{{ url_for('static', filename='images/intelligence.png')}}">

    <p>Look me up on <a href="http://www.linkedin.com/pub/jason-french/98/767/9b1/">LinkedIn</a> or check out my <a href="//github.com/frenchja">Github at github.com/frenchja</a>!
    </p>
            </section>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <!-- Presentation Libraries -->
    <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
    {% endblock %}
